---
import { Flex } from "styled-system/jsx";
import AppHeader from "@components/AppHeader.astro";
import "@styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/stripdown/favicon.svg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Stripdown</title>
  </head>
  <body>
    <Flex flexDir="column" h="100dvh" w="full">
      <AppHeader />
      <slot />
    </Flex>
  </body>
</html>
