---
import { Flex } from "styled-system/jsx";
import AppHeader from "@components/AppHeader.astro";
import "@styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/stripdown/favicon.svg" type="image/x-icon" />
    <title>Stripdown</title>
  </head>
  <body>
    <Flex flexDir="column" h="100dvh" w="full">
      <AppHeader />
      <slot />
    </Flex>
  </body>
</html>
