---
const { pathname } = Astro.url;
import { Flex, styled } from "styled-system/jsx";

const Link = styled("a", {
  base: {
    _currentPage: {
      fontWeight: "bold",
    },
  },
});
---

<Flex borderBottom="1px solid" borderColor="gray.7" gap="2" p="2">
  <h1>Stripdown</h1>
  <Link href="/stripdown/" aria-current={pathname === "/stripdown/" ? "page" : undefined}>Playground</Link>
  <Link href="/stripdown/guide" aria-current={pathname === "/stripdown/guide" ? "page" : undefined}>Guide</Link>
</Flex>
